.filter-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.playlist-table {
  background-color: #222;
  color: #fff;
}

.unknowPlaylist {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh';
}

.detail-square {
  width: 185px;
  height: 185px;
}
.detail-header{
  display: flex;
}

.detail-title{
  margin: 5%;
}