.logo {
    margin-bottom: 20%;
    margin-left: 5%;
}

.ant-menu-dark{
    background-color: black;
}

.ant-menu-item img {
    width: 24px;
    height: auto;
    margin-right: 12px;
}

.ant-menu-item-selected {
    background: linear-gradient(to bottom, #282828 0%, #121212 100%);
}

.ant-menu-dark .ant-menu-item-selected {
    background: linear-gradient(to bottom, #282828 0%, #121212 100%);
    color: #1DB954;
    font-weight: bold;
}